* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header details {
    position: relative;
}

header details ul {
    position: absolute;
    right: 100%;
    list-style: none;
    width: max-content;
    background-color: #fff;
    border-radius: 5px;
}

header details ul li {
    padding: 5px 15px;
    cursor: pointer;
}

header details ul li:hover {
    background-color: #f0f2fb;
}

header details summary {
    list-style: none;
}

main {
    background-image: url(images/vegis.jpg);
}

.item details summary {
    list-style: none;
    border: 1px solid #aba7a766;
    width: max-content;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.item details {
    position: relative;
}

.item details ul {
    position: absolute;
    bottom: 0%;
    left: 130%;
    list-style: none;
    background-color: #f5f5f5;
    box-shadow: 0 10px 50px #3c3e4555;
    border: 1px solid #aba7a733;
    padding: 10px;
    border-radius: 7px;
}

.item details ul li {
    width: 160px;
    border-radius: 5px;
    color: #3c3e45;
    padding: 0px 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 40px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: 0.5s;
}

.item details ul li:hover {
    background-color: #eaeaea;
    color: #000;
}

.item:nth-child(3n) details ul {
    left: unset;
    right: 0;
    bottom: unset;
}

.item details[open] summary {
    background-color: green;
    color: #fff;
}